@model FinalProject.Models.FlightRequest

@using (Html.BeginForm("AddFlight", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(model => model.NumofRows, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.NumofRows, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NumofRows, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TicketCost, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TicketCost, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TicketCost, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeparDateandTimeOffset, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DeparDateandTimeOffset, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DeparDateandTimeOffset, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ArrDateandTimeOffset, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ArrDateandTimeOffset, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ArrDateandTimeOffset, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Destination, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Destination, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TakeOffLocation, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TakeOffLocation, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TakeOffLocation, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AirportLoc, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.AirportLoc, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AirportLoc, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</div>

<div>
    @Html.ActionLink("Back to list", "QueryList")
</div>
}
