@model IEnumerable<FinalProject.Models.Flight>
<table class = "table">
    <thead>
        <tr>
            <th>
                Takeoff Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                Departure Date and Time
            </th>
            <th>
                Arrival Date and Time
            </th>
            <th>
                Airport Location
            </th>
            <th>
                Flight Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flight in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => flight.TakeOffLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => flight.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => flight.DeparDateandTimeOffset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => flight.ArrDateandTimeOffset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => flight.AirportLoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => flight.FlightDuration)
                </td>
                <td>
                    @Html.ActionLink("Book ticket", "Book", new {id = flight.FID})
                </td>
            </tr>
        }
    </tbody>
</table>