@model IEnumerable<FinalProject.Models.Query>
@{
    ViewData["Title"] = "Home Page";
}

@Html.ActionLink("Ask new question", "Query")
@if (Model != null && Model.Any())
{
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var query in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => query.Question)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => query.Answer)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You have asked no queries.</p>
}